extends layout


block content
    <!-- NAVIGATOR -->
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container
            a(herf= "#").navbar-brand
            button(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler 
                span.navbar-toggler-icon

            div(id="navbarNavAltMarkup").collapse.navbar-collapse
                .navbar-nav
                    a(href="/infos").nav-item.nav-link.text-uppercase.active ข้อมูลการติดตั้ง
                    a(href="/infos3").nav-item.nav-link.text-uppercase ข้อมูลการติดตั้ง 3 เฟส
                    
                    a(href="/pvs").nav-item.nav-link.text-uppercase PV MODULES
                    a(href="/inverters").nav-item.nav-link.text-uppercase INVERTERS
                    a(href="/inverters3").nav-item.nav-link.text-uppercase INVERTERS 3 Phase
                    a(href="/loads").nav-item.nav-link.text-uppercase LOAD PROFILE
    .container

    .container
        .row
            
            .col-12.col-sm-7
                br
                h2 ข้อมูลการติดตั้ง
                br
                form(action='/infos', method="post")
                    .row
                        .form-group.col-5
                            label(for="") ชื่อโครงการ
                                
                            input(type="text", name="Project", class="form-control" value='' placeholder="*" )
                        
                        .form-group.col-3
                            label(for="") อาคารประเภท
                            
                            select(id="type",name="met",type="text", class="form-control")
                                option(value='' select) *
                                option(value=0 ) บ้านอยู่อาศัย
                                option(value=1 ) ไม่ใช่บ้านอยู่อาศัย       
                        .form-group.col-4
                            label(for="") ประเภทผู้ใช้ไฟ 
                            select(id="users", class="form-control" )
                                option(value='' selected)
                                each load in loads
                                    
                                    option(value=load ) #{load.description}    
                                
                            
                            
                    .row
                        .form-group.col-12
                            label(for="") รายละเอียดอื่นๆ
                                
                            input(type="text", name="Description", class="form-control" value='' placeholder="*")
                        .form-group.col-6
                            label(for="") หน่วยการใช้ไฟฟ้าต่อเดือน (Unit)
                            select(id='timeunit' ,type="text", class="form-control")
                                option(value='' selected) 
                                option(value=1 ) หน่วยการใช้ไฟต่อเดือน
                                option(value=2 ) หน่วยการใช้ไฟ 9.00-16.00 น.
                            input(id='unit9' type="text", class="form-control" value='' placeholder="*")
                        
                        .form-group.col-3
                            label(for="") ซื้อไฟ/หน่วย (บาท)
                                
                            input(type="text", id='bath1', class="form-control" value='' placeholder="*")
                        .form-group.col-3
                            label(for="") ขายไฟ/หน่วย (บาท)
                                
                            input(type="text", id='bath2', class="form-control" value='' placeholder="*") 
                    
                    .row
                        .form-group.col-6
                            label(for="") อุณหภูมิต่ำสุด (°C)
                                
                            input(type="text", id="Tem_min", class="form-control" value='' placeholder="*")
                        .form-group.col-6
                            label(for="") อุณหภูมิสูงสุด (°C)
                                
                            input(type="text", id="Tem_max", class="form-control" value='' placeholder="*")
                        
                    .row
                        .form-group.col-6
                            label(for="") วิธีเดินสายจากแผงไปอินเวอร์เตอร์
                                               
                            select(id='metdc' ,type="text", class="form-control")
                                option(value='' selected) 
                                option(value=1 ) ท่อร้อยสาย
                                option(value=2 ) Wireway
                        
                        .form-group.col-6
                            label(for="") ระยะแผงถึงอินเวอร์เตอร์ (m)
                            input(type="text", id="PV_Inv", class="form-control"  placeholder="*" value='')
                        
                    
                    .row
                        .form-group.col-6
                            label(for="") วิธีเดินสายออกจากอินเวอร์เตอร์
                            select(id='metac' ,type="text", class="form-control")
                                option(value='' selected) 
                                option(value=1 ) ช่องเดินสาย 
                                option(value=2 ) Wireway     
                        .form-group.col-6
                            label(for="") ระยะอินเวอร์เตอร์ถึง MDB หรือ DB Solar (m)
                            input(type="text", id="Inv_Mdb", class="form-control" placeholder="*" value= '' )    
                    .row
                        .form-group.col-6
                            label(for="") ชนิดสายไฟ AC
                                
                            select(id='wireac' ,type="text", class="form-control")
                                option(value='' selected) 
                                option(value='thw' ) สายไฟหุ้มฉนวน PVC (1 แกน)
                                option(value='thws' ) สายไฟหุ้มฉนวน PVC (หลายแกน)
                                option(value='cv' ) สายไฟหุ้มฉนวน XLPE (1 แกน)
                                option(value='cvs' ) สายไฟหุ้มฉนวน XLPE (หลายแกน)
                        
                        
                    .row    
                        .form-group.col-6    
                                label(for="") จังหวัด
                                
                                select(id="Province",name="Province", class="form-control")
                                    option(value="")
                                    option(value=1) เชียงใหม่
                                    option(value=2) เชียงราย
                                    option(value=3) น่าน
                                    option(value=4) พะเยา
                                    option(value=5) แพร่
                                    option(value=6) แม่ฮ่องสอน
                                    option(value=7) ลำปาง
                                    option(value=8) ลำพูน
                                    option(value=9) อุตรดิตถ์
                                    option(value=10) กาฬสินธุ์
                                    option(value=11) ขอนแก่น
                                    option(value=12) ชัยภูมิ
                                    option(value=13) นครพนม
                                    option(value=14) นครราชสีมา 
                                    option(value=15) บึงกาฬ
                                    option(value=16) บุรีรัมย์
                                    option(value=17) มหาสารคาม
                                    option(value=18) มุกดาหาร
                                    option(value=19) ยโสธร
                                    option(value=20) ร้อยเอ็ด
                                    option(value=21) เลย
                                    option(value=22) สกลนคร
                                    option(value=23) สุรินทร์
                                    option(value=24) ศรีสะเกษ
                                    option(value=25) นองคาย
                                    option(value=26) หนองบัวลำภู
                                    option(value=27) อุดรธานี
                                    option(value=28) อุบลราชธานี
                                    option(value=29) อำนาจเจริญ
                                    option(value=30) กำแพงเพชร
                                    option(value=31) ชัยนาท
                                    option(value=32) นครนายก
                                    option(value=33) นครปฐม
                                    option(value=34) นครสวรรค์
                                    option(value=35) นนทบุรี
                                    option(value=36) ปทุมธานี
                                    option(value=37) พระนครศรีอยุธยา
                                    option(value=38) พิจิตร
                                    option(value=39) พิษณุโลก
                                    option(value=40) เพชรบูรณ์
                                    option(value=41) ลพบุรี
                                    option(value=42) สมุทรปราการ
                                    option(value=43) สมุทรสงคราม
                                    option(value=44) สมุทรสาคร
                                    option(value=45) สิงห์บุรี
                                    option(value=46) สุโขทัย
                                    option(value=47) สุพรรณบุรี
                                    option(value=48) สระบุรี
                                    option(value=49) อ่างทอง
                                    option(value=50) อุทัยธานี
                                    option(value=51) จันทบุรี
                                    option(value=52) ฉะเชิงเทรา
                                    option(value=53) ชลบุรี
                                    option(value=54) ตราด
                                    option(value=55) ปราจีนบุรี
                                    option(value=56) ระยอง
                                    option(value=57) สระแก้ว
                                    option(value=58) กาญจนบุรี
                                    option(value=59) ตาก
                                    option(value=60) ประจวบคีรีขันธ์
                                    option(value=61) เพชรบุรี
                                    option(value=62) ราชบุรี
                                    option(value=63) กระบี่
                                    option(value=64) ชุมพร
                                    option(value=65) ตรัง
                                    option(value=66) นครศรีธรรมราช
                                    option(value=67) นราธิวาส
                                    option(value=68) ปัตตานี
                                    option(value=69) พังงา
                                    option(value=70) พัทลุง
                                    option(value=71) ภูเก็ต
                                    option(value=72) ระนอง
                                    option(value=73) สตูล
                                    option(value=74) สงขลา
                                    option(value=75) สุราษฎร์ธานี
                                    option(value=76) ยะลา
                                   
                    
                        .form-group.col-6
                                label(for="") Peak Sun Hours (Hours)
                                    
                                input(id="PSH", type="text", class="form-control" )
                    .row
                        .form-group.col-6
                            label(for="") มุมอะซิมุท (°)
                                
                            input(id='Azimuth', type="text", name="Azimuth", class="form-control" placeholder="* 180°" value='' )
                                    
                        .form-group.col-6
                                label(for="") มุมเงย (°)
                                    
                                input(type="text", id="Altitute", class="form-control" placeholder="* 10°-20°" value='' )
                        
                    .row
                        .form-group.col-12
                            label(for="") ความเข้มแสงอาทิตย์เฉลี่ยต่อปี (kWh/m^2/year)
                                
                    
                            input(id='Hdts' type="text", name="Hdts", class="form-control" value=''  )

                
                    .row
                        .form-group.col-6    
                            label(for="") แผงโซล่าเซลล์
                                               
                            select(name="PV_module", class="form-control" )
                                option(value='' selected)
                                each pv in pvs
                                    
                                    option(value=pv ) #{pv.PV_module}
                        .form-group.col-6
                            label(for="") นำหน่วยการใช้ไฟมาคิดกำลังไฟฟ้าสูงสุด
                            select(id='selectunit', class="form-control")
                                option(value=0 selected) 
                                option(value=1 ) นำมาพิจารณา
                                option(value=2 ) ไม่นำมาพิจารณา
                        
                                    
                        
                                
                    
                    .row                 
                        .form-group.col-6
                            label(for="") ขนาดมิเตอร์ [เลือก - เพื่อกรอก Pmax เอง] 
                            
                              
                            select(id='Meter' name="Meter", class="form-control")
                                option(value='0' selected) -
                                option(value='135' ) 15(45), 3 เฟส
                                option(value='300' ) 30(100), 3 เฟส
                                
        
                        .form-group.col-6
                            label(for="") พื้นที่ติดตั้ง (m^2) [ใส่ 0 เพื่อกรอก Pmax เอง]
                                
                            input(id='Area' type="text", name="Area", class="form-control" placeholder="* (ใส่ค่า 0 เพื่อกรอกกำลังสูงสุดเอง)" value='' )
                                   
                    .row
                        .form-group.col-6
                            label(for="") กำลังไฟฟ้าสูงสุด (W) [Pmax]
                                
                            input(id='Pmaximum' type="text", name="Pmaximum", class="form-control" value='')
                                
                        .form-group.col-6
                            label(for="") จำนวนแผงโซล่าเซลล์ (Modules)
                                
                            input(type="text", name="No_Pvs", class="form-control" value='')
                    
                        

                    .row
                        .form-group.col-12
                            label(for="") Pinv_ac ที่แนะนำ (W)
                        .form-group.col-6
                                
                            input(id='Pinv_ac_min',type="text", name="Pinv_ac_min", class="form-control"  value='' )
                            
                        .form-group.col-6    
                            input(id='Pinv_ac_max', type="text", name="Pinv_ac_max", class="form-control" value='')    
                    .row
                        .form-group.col-6
                            
                            
                            <a href='#/infos' class='btn btn-secondary' onclick="invertercheck2()">เลือกอินเวอร์เตอร์</a>
                            
                        .form-group.col-6
                            

                            <p>อินเวอร์เตอร์: <span id="demo"></span>  (W)</p>
                           
                            <p>จำนวน: <span id="demo1" value = ''></span>  (เครื่อง)</p>
                            
                            

                            
                        
                           
                          
                        .form-group.col-6    
                             
                                
                            
                            input(id='inverters' type="hidden", class="form-control" value=inverters)     
                            <!--input(id='inverters' type="hidden", class="form-control" value=inverters3) -->
                    .row
                        .form-group.col-8
                            label(for="") อินเวอร์เตอร์
                            select(id='inverter', class="form-control" )
                                option(value='' selected)
                                each inverter in inverters
                                    option(value=inverter ) #{inverter.Inverter}  
                                
                        .form-group.col-4
                            label(for="") จำนวน
                            input(id="numberinv", type="text", class="form-control" value='')
                        .form-group.col-6
                            label(for="") DC to AC ratio*
                            input(id="dc_to_ac", type="text", class="form-control" value='')
                        .form-group.col-6
                            label(for="") Max. PV/String 
                            input(id="PV_string" type="text", name="PV_String", class="form-control" value='')    
                        .form-group.col-6
                            br
                            
                            <p>*DC to AC ratio ควรมีค่า 1.1-1.2 </p>            
                    .row
                        .form-group.col-6
                            
                            <a href='#/infos' class='btn btn-secondary' onclick="Strings()">ประมวลผล</a>            
                    .row    
                        .form-group.col-12

                            <h5>การจัดสตริงของอินเวอร์เตอร์รวมทุกตัว</h5>
                        .form-group.col-12
                            <p>Num_Pvs : <span id="numpvs"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num_Inv : <span id="numinvs"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Max. Input/inv : <span id="maxin" ></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Max. Strings/Input : <span id="maxst_in" ></span></p>
                            
                                
                    .row    
                        .form-group.col-12
                            <p>สตริงน้อยที่สุด : <span id="cat1"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แผง/สตริงน้อยที่สุด : <span id="rat1"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แผงน้อยที่สุด : <span id="dog1" ></span></p>
                       
                        .form-group.col-12
                            <p>สตริงมากที่สุด : <span id="cat"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แผง/สตริงมากที่สุด : <span id="rat"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แผงมากที่สุด : <span id="dog" ></span></p>
                        .form-group.col-12
                            <p>แนะนำ : <span id="good"></span></p>
                        .form-group.col-12
                            
                            <p>Voc/Array ต่างกันไม่เกิน 5% (ต่อขนานกันแผงควรเท่ากัน) , ในท่อร้อยสายไม่ควรเกิน 20 สตริง</p>
                    .row    
                        .form-group.col-6
                            label(for="") เลือกจำนวนแผง
                            input(type="text", id="Pvs1", class="form-control"  value=''  placeholder="*")
                        .form-group.col-6
                            label(for="") DC to AC ratio*
                            input(type="text", id="dc_to_ac2", class="form-control" value='')
                        .form-group.col-6
                            label(for="") จำนวนสตริงที่ใช้ทั้งหมด
                            input(type="text", id="string_real", class="form-control" value='' placeholder="*")
                        .form-group.col-6
                            label(for="") จำนวนแผงเฉลี่ยต่อสตริง
                            input(type="text", id="pvperstring", class="form-control" value='')
                        .form-group.col-12
                            br  
                            
                            <p>*DC to AC ratio ควรมีค่า 1.1-1.2 </p>
                    .row      
                        .form-group.col-12
                            <a href='#' class='btn btn-secondary'  onclick="process()">ประมวลผล</a>    
                               
                    br         
                    .row
                        
                        .form-group.col-12
                            button(type="reset" onclick="reset1()").btn.btn-block.btn-warning RESET
                    br    
                
            
                
               
            .col-12.col-sm-4.offset-sm-1
                    br
                    h2 รายละเอียดการคำนวณ
                    br
                    form(action= '/infos', method="post")
                        
                        .row    
                            
                            .form-group.col-6
                                
                                <h5>ข้อมูลด้าน DC</h5>
                                
                                <p><b>DC CB : <span id='cbdco'></span> (AT)</b></p>
                                <p>PV1-F  : <span id='pv1fo'></span> (sq.mm.)</p>
                                <p>Vdrop : <span id='vdropdco'></span> (V)</p>
                                <p style = "color:red;">% Vdrop : <span id='pervdropdco'></span> (%)</p>
                                <p>Ploss : <span id='plossdco'></span> (W)</p>
                                <p style = "color:red;">% Ploss : <span id='perplossdco'></span> (%)</p>
                                <p>Ground : <span id='grounddco'></span> (sq.mm.)</p>
                                <p><span id='fuse1'></span></p>
                                br
                                

                            .form-group.col-6
                                <h5>ข้อมูลด้าน AC</h5>
                                
                                <p><b>AC CB : <span id='cbaco'></span> (AT)</b></p>
                                <p>สายไฟ  : <span id='wireo'></span> (sq.mm.)</p>
                                <p>Vdrop : <span id='vdropaco'></span> (V)</p>
                                <p style = "color:blue;">% Vdrop : <span id='pervdropaco'></span> (%)</p>
                                <p>Ploss : <span id='plossaco'></span> (W)</p>
                                <p style = "color:blue;">% Ploss : <span id='perplossaco'></span> (%)</p>
                                <p>Ground : <span id='groundaco'></span> (sq.mm.)</p>
                        .row
                        
                            .form-group.col-12
                                <p style = "color:red;">Vdrop DC ไม่เกิน 1%, Ploss DC ไม่เกิน 3% </p>
                                <p style = "color:blue;">Vdrop AC ไม่เกิน 3%, Ploss AC ไม่เกิน 3%</p>
                                <p><span id='fuse2'></span></p>       
                        
                            .form-group.col-12
                                <h5>CB, สายไฟ และ สายกราวด์ เข้าตู้ MDB</h5>
                                <p><span id='cbmdbo'></span> (AT), <span id='wmdbo'></span> (sq.mm.), Ground : <span id='gmdbo'></span> (sq.mm.)</p>
                          
                        
                               
                        
                        

                        .row
                            .form-group.col-6
                                label(for="") CB DC
                                select(id='pv1f_select', class="form-control" )
                                    option(value=0 selected)
                                    option(value=10 ) 10
                                    option(value=13 ) 13
                                    option(value=15 ) 15
                                    option(value=16 ) 16
                                    option(value=20 ) 20
                                    option(value=25 ) 25
                                    option(value=30 ) 30
                                    option(value=32 ) 32
                                    option(value=40 ) 40
                                    option(value=50 ) 50
                                    option(value=63 ) 63
                            .form-group.col-6
                                label(for="") PV1-F ใหญ่กว่า
                                input(type="text", id="pv1f_select1", class="form-control" value='')     
                               
                            .form-group.col-4
                                label(for="") PV1-F
                                select(id='pv1f_select2', class="form-control" )
                                    option(value='' selected)
                                    option(value=4 ) 4
                                    option(value=6 ) 6
                                    option(value=10 ) 10
                                    option(value=16 ) 16
                                    option(value=25 ) 25
                            .form-group.col-8
                                label(for="") ภายในช่องเดินสาย (sq.mm.)
                                input(type="text", id="pipe_way1", class="form-control" value='')
                            
                            
                        .row
                            .form-group.col-3
                                label(for="") Vdrop
                                input(type="text", id="Vdrop_pv1f_select", class="form-control" value='')
                            .form-group.col-3
                                label(for="") % Vdrop
                                input(type="text", id="Per_vdroppv1f_select", class="form-control" value='')
                        
                            .form-group.col-3
                                label(for="") Ploss
                                input(type="text", id="Ploss_pv1f_select", class="form-control" value='')
                            .form-group.col-3
                                label(for="") % Ploss
                                input(type="text", id="Per_plosspv1f_select", class="form-control" value='')
                        .row
                            .form-group.col-6
                                label(for="") CB Inv.
                                select(id='cb_invs', class="form-control" )
                                    option(value='' selected)
                                    option(value=15) 15
                                    option(value=20) 20
                                    option(value=30) 30
                                    option(value=40) 40
                                    option(value=50) 50
                                    option(value=60) 60
                                    option(value=80) 80
                                    option(value=100) 100
                                    option(value=125) 125
                                    option(value=175) 175
                                    option(value=200) 200
                                    option(value=225) 225
                                    option(value=250) 250
                            .form-group.col-6
                                label(for="") สายไฟใหญ่กว่า
                                input(type="text", id="wire_invs", class="form-control" value='')
                            
                            
                            .form-group.col-6
                                label(for="") ขนาดสายไฟ Inv.
                                select(id='wire_ac_select', class="form-control" )
                                    option(value=0 selected)
                                    option(value=2.5) 2.5
                                    option(value=4) 4
                                    option(value=6) 6
                                    option(value=10) 10
                                    option(value=16) 16
                                    option(value=25) 25
                                    option(value=35) 35
                                    option(value=50) 50
                                    option(value=70) 70
                                    option(value=95) 95
                                    option(value=120) 120
                                    option(value=150) 150
                                    option(value=185) 185
                                    option(value=240) 240
                                    option(value=300) 300
                                    option(value=400) 400
                                    option(value=500) 500
                            .form-group.col-6
                                label(for="") สายดินเข้า Inv.(sq.mm.)
                                input(type="text", id="ground_inv", class="form-control" value='')
                           
                        .row
                            .form-group.col-3
                                label(for="") Vdrop
                                input(type="text", id="Vdrop_ac_select", class="form-control" value='')
                            .form-group.col-3
                                label(for="") % Vdrop
                                input(type="text", id="Per_vdropac_select", class="form-control" value='')
                        
                            .form-group.col-3
                                label(for="") Ploss
                                input(type="text", id="Ploss_ac_select", class="form-control" value='')
                            .form-group.col-3
                                label(for="") % Ploss
                                input(type="text", id="Per_plossac_select", class="form-control" value='')
                        <hr>
                        .row      
                            .form-group.col-12
                                <a href='#/infos' class='btn btn-secondary'  onclick="process1()">ประมวลผล</a>     
                        
                        .row
                            .form-group.col-12
                                <p>กำลังสูงสุด : <span id='Pmax1'></span> (W)</p>
                            .form-group.col-12    
                                <p>ประมาณการลงทุน : <span id='invest'></span> (บาท)</p>
                            .form-group.col-12
                                <p>ปริมาณไฟฟ้าที่ผลิตได้ : <span id='energy'></span> (หน่วย/ปี)</p>    
                            .form-group.col-12
                                <p>รายได้ : <span id='income'></span> (บาท/ปี)</p>    
                            .form-group.col-12
                                <p>ระยะเวลาคุ้มทุน : <span id='year'></span> (ปี)&nbsp;&nbsp;&nbsp;&nbsp;<span id='month'></span> (เดือน)</p>    
                            
                        br         
                        .row
                        
                            .form-group.col-12
                                button(type="reset" onclick='reset2()').btn.btn-block.btn-warning RESET
                        br
                        
            
                        
    

    //-script.
            function test(){
                var phase = document.getElementById('phase')
                var meter = document.getElementById('Meter')

                //- meter[meter.options.selectedIndex].selected = false

                meter.innerHTML = ""

                if(phase.value == 1) {
                    var option = document.createElement("option")
                    option.text = "-"
                    option.value = 0
                    meter.add(option)

                    var option1 = document.createElement("option")
                    option1.text = "5(15), 1 เฟส"
                    option1.value = 15
                    meter.add(option1)

                    var option2 = document.createElement("option")
                    option2.text = "15(45), 1 เฟส"
                    option2.value = 45
                    meter.add(option2)

                    var option3 = document.createElement("option")
                    option3.text = "30(100), 1 เฟส"
                    option3.value = 100
                    meter.add(option3)
                } else if(phase.value == 3) {
                    var option = document.createElement("option")
                    option.text = "-"
                    option.value = 0
                    meter.add(option)

                    var option1 = document.createElement("option")
                    option1.text = "15(45), 3 เฟส"
                    option1.value = 135
                    meter.add(option1)

                    var option2 = document.createElement("option")
                    option2.text = "30(100), 3 เฟส"
                    option2.value = 300
                    meter.add(option2)
                }
            }
    script.
        
        function Strings(){

                document.getElementById("numpvs").innerHTML = commaSeparateNumber(No_Pvs)
                document.getElementById("numinvs").innerHTML = Numberinv
                document.getElementById("maxin").innerHTML = datain.Number_of_independent_MPP_inputs
                document.getElementById("maxst_in").innerHTML = String_array
                
                document.getElementById("cat").innerHTML = Max_strings
                document.getElementById("cat1").innerHTML = Min_strings
                document.getElementById("rat").innerHTML = Pv_string1
                document.getElementById("rat1").innerHTML = Pv_stringmin
                document.getElementById("dog").innerHTML = commaSeparateNumber(Max_strings*Pv_string1)
                document.getElementById("dog1").innerHTML = commaSeparateNumber(Min_strings*(Pv_stringmin))
                document.getElementById("good").innerHTML = commaSeparateNumber(pv_suggestmin1)+" - "+commaSeparateNumber(pv_suggestmax1) + " (แผง)"
        }
    
   
    script.
        function reset1(){  
                            document.getElementById("demo").innerHTML = ""
                            document.getElementById("demo1").innerHTML = ""

                            document.getElementById("numpvs").innerHTML = ""
                            document.getElementById("maxin").innerHTML = ""
                            document.getElementById("maxst_in").innerHTML = ""
                            document.getElementById("numinvs").innerHTML = ""
                            document.getElementById("cat").innerHTML = ""
                            document.getElementById("cat1").innerHTML = ""
                            document.getElementById("dog").innerHTML = ""
                            document.getElementById("dog1").innerHTML = ""
                            document.getElementById("rat").innerHTML = ""
                            document.getElementById("rat1").innerHTML = ""
                            document.getElementById("good").innerHTML = ""
        }
    script.
        function reset2(){
                            document.getElementById("cbdco").innerHTML = " "
                            document.getElementById("pv1fo").innerHTML = ""
                            document.getElementById("vdropdco").innerHTML = ""
                            document.getElementById("pervdropdco").innerHTML = ""
                            document.getElementById("plossdco").innerHTML = ""
                            document.getElementById("perplossdco").innerHTML = ""
                            document.getElementById("grounddco").innerHTML = ""
                            document.getElementById("fuse1").innerHTML = ""
                            document.getElementById("fuse2").innerHTML = ""

                            document.getElementById("cbaco").innerHTML = ""
                            document.getElementById("wireo").innerHTML = ""
                            document.getElementById("vdropaco").innerHTML = ""
                            document.getElementById("pervdropaco").innerHTML = ""
                            document.getElementById("plossaco").innerHTML = ""
                            document.getElementById("perplossaco").innerHTML = ""
                            document.getElementById("groundaco").innerHTML = ""
                            document.getElementById("cbmdbo").innerHTML = ""
                            document.getElementById("wmdbo").innerHTML = ""
                            document.getElementById("gmdbo").innerHTML = ""

                            document.getElementById("Pmax1").innerHTML = ""
                            document.getElementById("invest").innerHTML = ""
                            document.getElementById("year").innerHTML = ""
                            document.getElementById("month").innerHTML = ""
                            document.getElementById("energy").innerHTML = ""
                            document.getElementById("income").innerHTML = ""
        }
    script.
        var invsPacs = [];
        var inverterss = document.getElementById('inverters').value;
        var inverters = JSON.parse(inverterss);
            for(var i = 0;i<=inverters.length;i++){
                invsPacs.push(inverters[i].Pinv_ac);
            }    
            function range1(invsPac) {
                return invsPac >= Pinv_ac_min && invsPac <= Pinv_ac_max;
                }
            function range2(invsPac) {
                return invsPac >= Pinv_ac_min/2 && invsPac <= Pinv_ac_max/2;
                } 
            function range3(invsPac) {
                return invsPac >= Pinv_ac_min/3 && invsPac <= Pinv_ac_max/3;
                }
            function range4(invsPac) {
                return invsPac >= Pinv_ac_min/4 && invsPac <= Pinv_ac_max/4;
                }
            function range5(invsPac) {
                return invsPac >= Pinv_ac_min/5 && invsPac <= Pinv_ac_max/5;
                }
            function range6(invsPac) {
                return invsPac >= Pinv_ac_min/6 && invsPac <= Pinv_ac_max/6;
                }
            function range7(invsPac) {
                return invsPac >= Pinv_ac_min/7 && invsPac <= Pinv_ac_max/7;
                }
            function range8(invsPac) {
                return invsPac >= Pinv_ac_min/8 && invsPac <= Pinv_ac_max/8;
                }
            function range9(invsPac) {
                return invsPac >= Pinv_ac_min/9 && invsPac <= Pinv_ac_max/9;
                }
            function range10(invsPac) {
                return invsPac >= Pinv_ac_min/10 && invsPac <= Pinv_ac_max/10;
                }
            function range11(invsPac) {
                return invsPac >= Pinv_ac_min/11 && invsPac <= Pinv_ac_max/11;
                }
            function range12(invsPac) {
                return invsPac >= Pinv_ac_min/12 && invsPac <= Pinv_ac_max/12;
                }
            function range13(invsPac) {
                return invsPac >= Pinv_ac_min/13 && invsPac <= Pinv_ac_max/13;
                }
            function range14(invsPac) {
                return invsPac >= Pinv_ac_min/14 && invsPac <= Pinv_ac_max/14;
                }
            function range15(invsPac) {
                return invsPac >= Pinv_ac_min/15 && invsPac <= Pinv_ac_max/15;
                }
            function range16(invsPac) {
                return invsPac >= Pinv_ac_min/16 && invsPac <= Pinv_ac_max/16;
                }
            function range17(invsPac) {
                return invsPac >= Pinv_ac_min/17 && invsPac <= Pinv_ac_max/17;
                }
            function range18(invsPac) {
                return invsPac >= Pinv_ac_min/18 && invsPac <= Pinv_ac_max/18;
                }
            function range19(invsPac) {
                return invsPac >= Pinv_ac_min/19 && invsPac <= Pinv_ac_max/19;
                }
            function range20(invsPac) {
                return invsPac >= Pinv_ac_min/20 && invsPac <= Pinv_ac_max/20;
                }
            function range21(invsPac) {
                return invsPac >= Pinv_ac_min/21 && invsPac <= Pinv_ac_max/21;
                }
            function range22(invsPac) {
                return invsPac >= Pinv_ac_min/22 && invsPac <= Pinv_ac_max/22;
                }
            function invertercheck2() {
                    var invfils1=Math.min(...Object.values(invsPacs.filter(range1)))
                    var invfils2=Math.min(...Object.values(invsPacs.filter(range2)))
                    var invfils3=Math.min(...Object.values(invsPacs.filter(range3)))
                    var invfils4=Math.min(...Object.values(invsPacs.filter(range4)))
                    var invfils5=Math.min(...Object.values(invsPacs.filter(range5)))
                    var invfils6=Math.min(...Object.values(invsPacs.filter(range6)))
                    var invfils7=Math.min(...Object.values(invsPacs.filter(range7)))
                    var invfils8=Math.min(...Object.values(invsPacs.filter(range8)))
                    var invfils9=Math.min(...Object.values(invsPacs.filter(range9)))
                    var invfils10=Math.min(...Object.values(invsPacs.filter(range10)))
                    var invfils11=Math.min(...Object.values(invsPacs.filter(range11)))
                    var invfils12=Math.min(...Object.values(invsPacs.filter(range12)))
                    var invfils13=Math.min(...Object.values(invsPacs.filter(range13)))
                    var invfils14=Math.min(...Object.values(invsPacs.filter(range14)))
                    var invfils15=Math.min(...Object.values(invsPacs.filter(range15)))
                    var invfils16=Math.min(...Object.values(invsPacs.filter(range16)))
                    var invfils17=Math.min(...Object.values(invsPacs.filter(range17)))
                    var invfils18=Math.min(...Object.values(invsPacs.filter(range18)))
                    var invfils19=Math.min(...Object.values(invsPacs.filter(range19)))
                    var invfils20=Math.min(...Object.values(invsPacs.filter(range20)))
                    var invfils21=Math.min(...Object.values(invsPacs.filter(range21)))
                    var invfils22=Math.min(...Object.values(invsPacs.filter(range22)))
                    
                    if(invfils1 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils1)
                        document.getElementById("demo1").innerHTML = 1}
                    else if(invfils1 == Infinity && invfils2 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils2)
                        document.getElementById("demo1").innerHTML = 2}
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils3)
                        document.getElementById("demo1").innerHTML = 3}
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils4)
                        document.getElementById("demo1").innerHTML = 4}
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 == Infinity && invfils5 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils5)
                        document.getElementById("demo1").innerHTML = 5}  
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 == Infinity && invfils5 == Infinity && invfils6 != Infinity ){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils6)
                        document.getElementById("demo1").innerHTML = 6}  
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 == Infinity && invfils5 == Infinity && invfils6 == Infinity && invfils7 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils7)
                        document.getElementById("demo1").innerHTML = 7}  
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 == Infinity && invfils5 == Infinity && invfils6 == Infinity && invfils7 == Infinity && invfils8 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils8)
                        document.getElementById("demo1").innerHTML = 8}
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 == Infinity && invfils5 == Infinity && invfils6 == Infinity && invfils7 == Infinity && invfils8 == Infinity && invfils9 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils9)
                        document.getElementById("demo1").innerHTML = 9}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils10)
                        document.getElementById("demo1").innerHTML = 10}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils11)
                        document.getElementById("demo1").innerHTML = 11}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils12)
                        document.getElementById("demo1").innerHTML = 12}    
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils13)
                        document.getElementById("demo1").innerHTML = 13}     
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils14)
                        document.getElementById("demo1").innerHTML = 14} 
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils15)
                        document.getElementById("demo1").innerHTML = 15}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils16)
                        document.getElementById("demo1").innerHTML = 16}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils17)
                        document.getElementById("demo1").innerHTML = 17}     
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17==Infinity&&invfils18!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils18)
                        document.getElementById("demo1").innerHTML = 18}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17==Infinity&&invfils18==Infinity&&invfils19!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils19)
                        document.getElementById("demo1").innerHTML = 19}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17==Infinity&&invfils18==Infinity&&invfils19==Infinity&&invfils20!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils20)
                        document.getElementById("demo1").innerHTML = 20}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17==Infinity&&invfils18==Infinity&&invfils19==Infinity&&invfils20==Infinity&&invfils21!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils21)
                        document.getElementById("demo1").innerHTML = 21}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17==Infinity&&invfils18==Infinity&&invfils19==Infinity&&invfils20==Infinity&&invfils21==Infinity&&invfils22!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils22)
                        document.getElementById("demo1").innerHTML = 22}
            }            

                    
                
                   
                        
                    
        
        
        
        
          
            
        
          
            
            
            

    
                                    
                                    
                                
                                    
                                
                                    
                            
                            
                                
            
                        
                                
                            


