extends layout3


block content
    <!-- NAVIGATOR -->
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container
            a(herf= "#").navbar-brand
            button(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler 
                span.navbar-toggler-icon

            div(id="navbarNavAltMarkup").collapse.navbar-collapse
                .navbar-nav
                    a(href="/infos").nav-item.nav-link.text-uppercase ข้อมูลการติดตั้ง
                    a(href="/infos3").nav-item.nav-link.text-uppercase.active ข้อมูลการติดตั้ง 3 เฟส
                    
                    a(href="/pvs").nav-item.nav-link.text-uppercase PV MODULES
                    a(href="/inverters").nav-item.nav-link.text-uppercase INVERTERS
                    a(href="/inverters3").nav-item.nav-link.text-uppercase INVERTERS 3 Phase
                    a(href="/loads").nav-item.nav-link.text-uppercase LOAD PROFILE
    .container

    .container
        form(action='/infos3/add', method="post", id="bigform")
            .row
                
                .col-12.col-sm-7
                    br
                    h2 ข้อมูลการติดตั้ง
                    br
                    .row
                        <p><strong>ตัวอย่าง Singleline diagram</strong></p>
                        <div class="gallery">
                            <div>
                                <img src="images/singleline6.PNG" alt="ตัวอย่าง Singleline Diagram">
                                
                            </div>
                            
                        </div>
                    br
                    .row
                        .form-group.col-6
                            label(for="") ชื่อโครงการ
                                    
                            input(type="text", name="project", class="form-control", value=''  )
                    .row
                        .form-group.col-12
                            label(for="") รายละเอียดอื่นๆ
                                    
                            input(type="text", name="des", class="form-control", value='')
                    .row    
                        .form-group.col-6
                            label(for="") อาคารประเภท
                                
                            select(id="type",name="met",type="text", class="form-control")
                                option(value='' select) *
                                option(value='บ้านอยู่อาศัย' ) บ้านอยู่อาศัย
                                option(value='ไม่ใช่บ้านอยู่อาศัย' ) ไม่ใช่บ้านอยู่อาศัย       
                        .form-group.col-6
                            label(for="") ประเภทผู้ใช้ไฟ 
                            select(id="users", class="form-control", name='user')
                                option(value='' selected)
                                each load in loads
                                        
                                    option(value=load ) #{load.description}  

                                     
                                
                                
                        
                        .form-group.col-6
                            label(for="") หน่วยการใช้ไฟ (Unit)
                            select(id='timeunit', name="time_use" ,type="text", class="form-control", placeholder="*")
                                option(value='' selected) *
                                option(value='หน่วยการใช้ไฟต่อเดือน' ) หน่วยการใช้ไฟต่อเดือน
                                option(value='หน่วยการใช้ไฟ 9.00-16.00 น.' ) หน่วยการใช้ไฟ 9.00-16.00 น.
                            input(id='unit9', name="unit", type="text", class="form-control" ,value='', placeholder="*")
                        .form-group.col-3
                            label(for="") ซื้อไฟ/หน่วย (บาท)
                                    
                            input(type="text", id='bath1', name='buy' class="form-control", value='', placeholder="*")
                        .form-group.col-3
                            label(for="") ขายไฟ/หน่วย (บาท)
                                    
                            input(type="text", id='bath2', name='sale', class="form-control", value='', placeholder="*")
                    .row
                            
                        .form-group.col-4
                            label(for="") อุณหภูมิต่ำสุดที่แผง (°C)
                                    
                            input(type="text", id="Tem_min", name='tem_min', class="form-control", value='', placeholder="*0 °C")
                        .form-group.col-4
                            label(for="") อุณหภูมิสูงสุดที่แผง (°C)
                                    
                            input(type="text", id="Tem_max", name='tem_max', class="form-control", value='', placeholder="*60 °C") 
                        .form-group.col-4
                            label(for="") อุณหภูมิสูงสุดที่ INV. (°C)
                                    
                            input(type="text", id="Tem_max2", name='tem_max2', class="form-control", value='', placeholder="*30 °C") 
                        
                        
                           
                    

                    .row    
                        .form-group.col-6    
                                label(for="") จังหวัด
                                    
                                select(id="Province",name="province", class="form-control")
                                    option(value="") *
                                    option(value='เชียงใหม่') เชียงใหม่
                                    option(value='เชียงราย') เชียงราย
                                    option(value='น่าน') น่าน
                                    option(value='พะเยา') พะเยา
                                    option(value='แพร่') แพร่
                                    option(value='แม่ฮ่องสอน') แม่ฮ่องสอน
                                    option(value='ลำปาง') ลำปาง
                                    option(value='ลำพูน') ลำพูน
                                    option(value='อุตรดิตถ์') อุตรดิตถ์
                                    option(value='กาฬสินธุ์') กาฬสินธุ์
                                    option(value='ขอนแก่น') ขอนแก่น
                                    option(value='ชัยภูมิ') ชัยภูมิ
                                    option(value='นครพนม') นครพนม
                                    option(value='นครราชสีมา') นครราชสีมา 
                                    option(value='บึงกาฬ') บึงกาฬ
                                    option(value='บุรีรัมย์') บุรีรัมย์
                                    option(value='มหาสารคาม') มหาสารคาม
                                    option(value='มุกดาหาร') มุกดาหาร
                                    option(value='ยโสธร') ยโสธร
                                    option(value='ร้อยเอ็ด') ร้อยเอ็ด
                                    option(value='เลย') เลย
                                    option(value='สกลนคร') สกลนคร
                                    option(value='สุรินทร์') สุรินทร์
                                    option(value='ศรีสะเกษ') ศรีสะเกษ
                                    option(value='หนองคาย') หนองคาย
                                    option(value='หนองบัวลำภู') หนองบัวลำภู
                                    option(value='อุดรธานี') อุดรธานี
                                    option(value='อุบลราชธานี') อุบลราชธานี
                                    option(value='อำนาจเจริญ') อำนาจเจริญ
                                    option(value='กำแพงเพชร') กำแพงเพชร
                                    option(value='ชัยนาท') ชัยนาท
                                    option(value='นครนายก') นครนายก
                                    option(value='นครปฐม') นครปฐม
                                    option(value='นครสวรรค์') นครสวรรค์
                                    option(value='นนทบุรี') นนทบุรี
                                    option(value='ปทุมธานี') ปทุมธานี
                                    option(value='พระนครศรีอยุธยา') พระนครศรีอยุธยา
                                    option(value='พิจิตร') พิจิตร
                                    option(value='พิษณุโลก') พิษณุโลก
                                    option(value='เพชรบูรณ์') เพชรบูรณ์
                                    option(value='ลพบุรี') ลพบุรี
                                    option(value='สมุทรปราการ') สมุทรปราการ
                                    option(value='สมุทรสงคราม') สมุทรสงคราม
                                    option(value='สมุทรสาคร') สมุทรสาคร
                                    option(value='สิงห์บุรี') สิงห์บุรี
                                    option(value='สุโขทัย') สุโขทัย
                                    option(value='สุพรรณบุรี') สุพรรณบุรี
                                    option(value='สระบุรี') สระบุรี
                                    option(value='อ่างทอง') อ่างทอง
                                    option(value='อุทัยธานี') อุทัยธานี
                                    option(value='จันทบุรี') จันทบุรี
                                    option(value='ฉะเชิงเทรา') ฉะเชิงเทรา
                                    option(value='ชลบุรี') ชลบุรี
                                    option(value='ตราด') ตราด
                                    option(value='ปราจีนบุรี') ปราจีนบุรี
                                    option(value='ระยอง') ระยอง
                                    option(value='สระแก้ว') สระแก้ว
                                    option(value='กาญจนบุรี') กาญจนบุรี
                                    option(value='ตาก') ตาก
                                    option(value='ประจวบคีรีขันธ์') ประจวบคีรีขันธ์
                                    option(value='เพชรบุรี') เพชรบุรี
                                    option(value='ราชบุรี') ราชบุรี
                                    option(value='กระบี่') กระบี่
                                    option(value='ชุมพร') ชุมพร
                                    option(value='ตรัง') ตรัง
                                    option(value='นครศรีธรรมราช') นครศรีธรรมราช
                                    option(value='นราธิวาส') นราธิวาส
                                    option(value='ปัตตานี') ปัตตานี
                                    option(value='พังงา') พังงา
                                    option(value='พัทลุง') พัทลุง
                                    option(value='ภูเก็ต') ภูเก็ต
                                    option(value='ระนอง') ระนอง
                                    option(value='สตูล') สตูล
                                    option(value='สงขลา') สงขลา
                                    option(value='สุราษฎร์ธานี') สุราษฎร์ธานี
                                    option(value='ยะลา') ยะลา
                                    
                        
                        .form-group.col-6
                                label(for="") Peak Sun Hours (Hours)
                                        
                                input(id="PSH", name='psh', type="text", class="form-control" )
                    .row
                        .form-group.col-6
                            label(for="") มุมอะซิมุท (°)
                                    
                            input(id='Azimuth', type="text", name="azimuth", class="form-control", placeholder="* 180°", value='' )
                                        
                        .form-group.col-6
                                label(for="") มุมเงย (°)
                                        
                                input(type="text", id="Altitute", name="altitute", class="form-control", placeholder="* 10°-20°" ,value='' )
                            
                    .row
                        .form-group.col-12
                            label(for="") พลังงานแสงอาทิตย์เฉลี่ยต่อปี (kWh/m^2/year)
                                    
                        
                            input(id='Hdts', type="text", name="hdts", class="form-control", value=''  )

                    
                    .row
                        .form-group.col-6    
                            label(for="") แผงโซล่าเซลล์
                                                
                            select(name="PV_module", class="form-control" )
                                option(value='' selected)
                                each pv in pvs
                                        
                                    option(value=pv ) #{pv.PV_module}
                        .form-group.col-6
                            label(for="") นำหน่วยการใช้ไฟคิดกำลังไฟฟ้าสูงสุด
                            select(id='selectunit', class="form-control")
                                option(value=0 selected) *
                                option(value=1 ) นำมาพิจารณา
                                option(value=2 ) ไม่นำมาพิจารณา
                            
                                        
                            
                                    
                        
                    .row                 
                        .form-group.col-6
                            label(for="") ขนาดมิเตอร์ [เลือก - เพื่อกรอก Pmax เอง] 
                                
                                
                            select(id='Meter', name="meter", class="form-control")
                                option(value='3 เฟส' selected) -
                                
                                option(value='15(45), 3 เฟส' ) 15(45), 3 เฟส
                                option(value='30(100), 3 เฟส' ) 30(100), 3 เฟส
                                    
            
                        .form-group.col-6
                            label(for="") พื้นที่ติดตั้ง (m^2) [ใส่ 0 เพื่อกรอก Pmax เอง]
                                    
                            input(id='Area', type="text", name="area", class="form-control", placeholder="* (ใส่ค่า 0 เพื่อกรอกกำลังสูงสุดเอง)", value='' )
                                    
                    .row
                        .form-group.col-6
                            label(for="") กำลังไฟฟ้าสูงสุด (W) [Pmax]
                                    
                            input(id='Pmaximum', type="text", name="Pmaximum", class="form-control", value='')
                                    
                        .form-group.col-6
                            label(for="") จำนวนแผงโซล่าเซลล์ (Modules)
                                    
                            input(type="text", name="No_Pvs", class="form-control", value='')
                        
                            

                    .row
                        .form-group.col-12
                            label(for="") กำลังอินเวอร์เตอร์ (AC) ที่แนะนำ (W)
                        .form-group.col-6
                                    
                            input(id='Pinv_ac_min',type="text", name="Pinv_ac_min", class="form-control",  value='' )
                                
                        .form-group.col-6    
                            input(id='Pinv_ac_max', type="text", name="Pinv_ac_max", class="form-control", value='')    
                    .row
                        .form-group.col-6
                                
                                
                            <a href='#/infos3' class='btn btn-secondary' onclick="invertercheck2()">เลือกอินเวอร์เตอร์</a>
                                
                        .form-group.col-6
                                

                            <p>อินเวอร์เตอร์: <span id="demo"></span>  (W)</p>
                            
                            <p>จำนวน: <span id="demo1" value = ''></span>  (เครื่อง)</p>
                                
                                

                                
                            
                            
                            
                        .form-group.col-6    
                             
                                
                            
                            input(id='inverters' type="hidden", class="form-control" value=inverters3)     
                            <!--input(id='inverters' type="hidden", class="form-control" value=inverters3) -->
                    .row
                        .form-group.col-6
                            label(for="") อินเวอร์เตอร์
                            select(id='inverter',name="inv", class="form-control" )
                                option(value='' selected)
                                each inverter in inverters3
                                    option(value=inverter ) #{inverter.Inverter}   
                                    
                        .form-group.col-3
                            label(for="") จำนวน
                            input(id="numberinv", name='num_inv', type="text", class="form-control", value='', placeholder="*")
                        .form-group.col-3
                            label(for="" style = "color:blue;") Ppv/Pinv_dc*
                            input(id="dc_to_dc", type="text", class="form-control", value='')
                        
                        .form-group.col-12
                                
                            <p style = "color:blue;"><span id='condition'></span></p>            
                    
                        .form-group.col-12
                            
                            <h5><b>เงื่อนไขการจัดสตริงของอินเวอร์เตอร์</b></h5> 
                        
                        .form-group.col-6
                            label(for="") MPPT/อินเวอร์เตอร์  
                            input(id="in_inv", type="text", name="in_inv", class="form-control", value='')   
                        .form-group.col-6
                            label(for="") สตริง/MPPT สูงสุด
                            input(id="string_input", type="text", name="string_input", class="form-control", value='')      
                        .form-group.col-4
                            label(for="") แผง/สตริง น้อยสุด
                            input(id="PV_stringmin", type="text", name="PV_Stringmin", class="form-control", value='')
                         
                        .form-group.col-4
                            label(for="") แผง/สตริง มากสุด
                            input(id="PV_string", type="text", name="PV_String", class="form-control", value='') 
                        .form-group.col-4
                            label(for="") แผง/สตริงประสิทธิภาพสูงสุด
                            input(id="PV_string_best", type="text", name="PV_string_best", class="form-control", value='')  
                        .form-group.col-12
                            br
                            <h5><b>การจัดสตริงของอินเวอร์เตอร์แต่ละเครื่อง</b></h5>   
                        .form-group.col-6
                            label(for="") เลือกจำนวนแผงต่อสตริง
                            input(id="pv_stch", type="text", name="pv_stch", class="form-control", value='', placeholder="*") 
                        
                        .form-group.col-6
                            label(for="" style = "color:red;") *สตริงที่เกินมา (สตริง)
                            input(id="sas", type="text", name="sas", class="form-control", value='') 
                        .form-group.col-12 
                            <p style = "color:red;">*สตริงที่เกินมาต้องเป็น 0 (ปรับแผงต่อสตริงเพิ่มขึ้นเพื่อให้สตริงที่เกินมาเป็น 0)</p>   
                        
                    .row
                        .form-group.col-6
                                
                                
                            <a href='#/infos' class='btn btn-secondary' onclick="jadstring()">ประมวลผล</a>     
                    .row
                        .form-group.col-4
                            label(for="") MPPT ชุดที่ 1 (MPPT)
                            input(id="in_inv1", type="text", name="in_inv1", class="form-control", value='')    
                        .form-group.col-4
                            label(for="") สตริง/MPPT ชุดที่ 1 (สตริง)
                            input(id="st_in1", type="text", name="st_in1", class="form-control", value='')
                        .form-group.col-4
                            label(for="") แผง/สตริง ชุดที่ 1 (แผง)
                            input(id="Pv_st1", type="text", name="Pv_st1", class="form-control", value='')  
                        
                          
                        .form-group.col-4
                            label(for="") MPPT ชุดที่ 2 (MPPT)
                            input(id="in_inv2", type="text", name="in_inv2", class="form-control", value='')    
                        .form-group.col-4
                            label(for="") สตริง/MPPT ชุดที่ 2 (สตริง)
                            input(id="st_in2", type="text", name="st_in2", class="form-control", value='')
                        .form-group.col-4
                            label(for="") แผง/สตริง ชุดที่ 2 (แผง)
                            input(id="Pv_st2", type="text", name="Pv_st2", class="form-control", value='')  

                        .form-group.col-4
                            label(for="") MPPT ชุดที่ 3 (MPPT)
                            input(id="in_inv3", type="text", name="in_inv3", class="form-control", value='')    
                        .form-group.col-4
                            label(for="") สตริง/MPPT ชุดที่ 3 (สตริง)
                            input(id="st_in3", type="text", name="st_in3", class="form-control", value='')
                        .form-group.col-4
                            label(for="") แผง/สตริง ชุดที่ 3 (แผง)
                            input(id="pv_onein", type="text", name="pv_onein", class="form-control", value='')
                        .form-group.col-6
                            label(for="") จำนวนสตริงทั้งหมด
                            input(id="stringtotal", type="text", name="stringtotal", class="form-control", value='') 
                        .form-group.col-6
                            label(for="") จำนวนแผงที่เหลือ (แผง)
                            input(id="saspv", type="text", name="saspv", class="form-control", value='')  
                        .form-group.col-12 
                            <p style = "color:red;">*แผงต่อสตริงต้องอยู่ในเงื่อนไขการจัดสตริง</p>
                
                    .row      
                        .form-group.col-12
                            <a href='#' class='btn btn-secondary'  onclick="process()">เลือกอุปกรณ์ป้องกัน</a>    
                                
                    br         
                 
                    
                
                    
                
                .col-12.col-sm-4.offset-sm-1
                        br
                        h2 เลือกขนาดสายไฟ
                        br
          
                        
                               
                        .row
                        
                            .form-group.col-12    
                                <h6>PV STRING</h6>
                                <h6><span id='fuse0'></span></h6>
                                <p style = "color:red;">แรงดันตกไม่ควรเกิน 1%, กำลังสูญเสียไม่ควรเกิน 3%</p>
                        .row
                            .form-group.col-9
                                label(for="") วิธีเดินสายจากแผงไปกล่องรวมสาย DC
                                                    
                                select(id='metdc', name='how_wdc' ,type="text", class="form-control")
                                    option(value='' selected) *
                                    option(value='ท่อร้อยสาย' ) ท่อร้อยสาย
                                    option(value='Wireway' ) Wireway
                                    option(value='วางบนรางชิดกัน (ไม่ซ้อนแถว)' ) วางบนรางชิดกัน (ไม่ซ้อนแถว)
                                    option(value='วางบนรางชิดกัน (ซ้อนแถว)' ) วางบนรางชิดกัน (ซ้อนแถว)
                                
                            .form-group.col-3
                                label(for="") ระยะ (m)
                                input(type="text", id="PV_Inv", name='distance_dc', class="form-control",  placeholder="*", value='')       
                        .row
                            .form-group.col-6
                                label(for="") FUSE
                                select(id='fuse00',name='fuse', class="form-control" )
                                    option(value=0 selected) *
                                    option(value='-') ไม่ติดตั้ง
                                    option(value=1 ) 1
                                    option(value=2 ) 2
                                    option(value=3 ) 3
                                    option(value=4 ) 4
                                    option(value=5 ) 5
                                    option(value=6 ) 6
                                    option(value=8 ) 8
                                    option(value=10 ) 10
                                    option(value=12 ) 12
                                    option(value=15 ) 15
                                    option(value=20 ) 20
                        
                            .form-group.col-6
                                    label(for="") สาย PV1-F ใหญ่กว่า
                                    input(type="text", id="pv1f_select00", class="form-control" value='')
                            .form-group.col-6
                                    label(for="") เลือกขนาดสาย PV1-F
                                    select(id='pv1f_select002',name='pv1f_string', class="form-control" )
                                        option(value='' selected) *
                                        option(value=4 ) 4
                                        option(value=6 ) 6
                                        option(value=10 ) 10
                                        option(value=16 ) 16
                                        option(value=25 ) 25 
                               
                        .row
                            .form-group.col-6
                                label(for="") แรงดันตกในสายไฟ
                                input(type="text", id="Vdrop_pv002_select",name='vdroppv', class="form-control" value='')
                            .form-group.col-6
                                label(for="") <a style = "color:red;">เปอร์เซ็นต์แรงดันตก</a>
                                input(type="text", id="Per_vdroppv002_select",name = 'pervdroppv', class="form-control" value='')
                        .row
                            .form-group.col-6
                                label(for="") กำลังสูญเสีย/INVERTER
                                input(type="text", id="Ploss_pv002_select",name='plosspv', class="form-control" value='')
                            .form-group.col-6
                                label(for="") <a style = "color:red;">เปอร์เซ็นต์กำลังสูญเสีย</a>
                                input(type="text", id="Per_plosspv002f_select",name='perplosspv', class="form-control" value='')  
                        hr     
                        .row
                        
                            .form-group.col-12    
                                <h6>PV ARRAY&emsp;&emsp;<span id='cbdco'></span></h6>
                                <p style = "color:red;">ถ้า CB ขนาดใหญ่ ให้ลดการต่อขนานสตริงใน DC BOX</p>
                        .row
                            .form-group.col-6
                                label(for="") เซอร์กิตเบรกเกอร์ (DC)
                                input(type="text", id='pv1f_select',name='cbdc', class="form-control",placeholder="*",  value='')
                                    
                            .form-group.col-6
                                label(for="") สาย PV1-F ใหญ่กว่า
                                input(type="text", id="pv1f_select1", class="form-control" value='')     
                                
                            .form-group.col-6
                                label(for="") เลือกขนาดสาย PV1-F
                                select(id='pv1f_select2',name='pv1f_array', class="form-control" )
                                    option(value='' selected) *
                                    option(value=4 ) 4
                                    option(value=6 ) 6
                                    option(value=10 ) 10
                                    option(value=16 ) 16
                                    option(value=25 ) 25
                        .row
                            .form-group.col-6
                                label(for="") สายดินที่โครงโลหะ
                                input(type="text", id="groundpv1",name='groundpv1', class="form-control" value='') 
                            .form-group.col-6
                                label(for="") สายต่อหลักดิน
                                input(type="text", id="groundpv2",name='groundpv2', class="form-control" value='') 
                        hr
                        .row
                        
                            .form-group.col-12          
                                <h6>INVERTER&emsp;&emsp;<span id='cbaco'></span></h6>  
                                <p style = "color:blue;">แรงดันตกไม่ควรเกิน 3%, กำลังสูญเสียไม่ควรเกิน 3%</p> 
                        .row
                            .form-group.col-12
                                label(for="") ชนิดสายไฟจาก Inverter ไป AC Solar หรือ MDB
                                        
                                select(id='wireac', name='type_wac' ,type="text", class="form-control")
                                    option(value='' selected) *
                                    option(value='สายไฟหุ้มฉนวน PVC (1 แกน)' ) สายไฟหุ้มฉนวน PVC (1 แกน)
                                    option(value='สายไฟหุ้มฉนวน PVC (หลายแกน)' ) สายไฟหุ้มฉนวน PVC (หลายแกน)
                                    option(value='สายไฟหุ้มฉนวน XLPE (1 แกน)' ) สายไฟหุ้มฉนวน XLPE (1 แกน)
                                    option(value='สายไฟหุ้มฉนวน XLPE (หลายแกน)' ) สายไฟหุ้มฉนวน XLPE (หลายแกน)
                                
                            .form-group.col-9
                                label(for="") วิธีเดินสาย
                                
                                select(id='metac', name='how_wac' ,type="text", class="form-control")
                                    option(value='' selected) *
                                    option(value='ท่อร้อยสาย' ) ท่อร้อยสาย 
                                    option(value='Wireway' ) Wireway                 
                            .form-group.col-3
                                label(for="") ระยะ (m)
                                input(type="text", id="Inv_Mdb", name='distance_ac', class="form-control", placeholder="*", value= '' )
                        .row
                            .form-group.col-6
                                label(for="") เซอร์กิตเบรกเกอร์ (AC)
                                input(type="text", id='cb_invs',name='cbac' class="form-control", placeholder="*", value= ''  )
                                    
                            .form-group.col-6
                                label(for="") สายไฟใหญ่กว่า
                                input(type="text", id="wire_invs", class="form-control" value='')
                            
                                
                            .form-group.col-6
                                label(for="") เลือกขนาดสายไฟ
                                select(id='wire_ac_select',name='wireac', class="form-control" )
                                    option(value=0 selected) *
                                    option(value=2.5) 2.5
                                    option(value=4) 4
                                    option(value=6) 6
                                    option(value=10) 10
                                    option(value=16) 16
                                    option(value=25) 25
                                    option(value=35) 35
                                    option(value=50) 50
                                    option(value=70) 70
                                    option(value=95) 95
                                    option(value=120) 120
                                    option(value=150) 150
                                    option(value=185) 185
                                    option(value=240) 240
                                    option(value=300) 300
                                    option(value=400) 400
                                    option(value=500) 500
                            .form-group.col-6
                                label(for="") สายดิน (sq.mm.)
                                input(type="text", id="ground_inv",name='ground_inv', class="form-control" value='')
                        
                        .row
                            .form-group.col-6
                                label(for="") แรงดันตกในสายไฟ
                                input(type="text", id="Vdrop_ac_select",name='vdropac', class="form-control" value='')
                            .form-group.col-6
                                label(for="") <a style = "color:blue;">เปอร์เซ็นต์แรงดันตก</a>
                                input(type="text", id="Per_vdropac_select",name='pervdropac',  class="form-control" value='')
                        .row    
                            .form-group.col-6
                                label(for="") กำลังสูญเสีย
                                input(type="text", id="Ploss_ac_select",name='plossac',  class="form-control" value='')
                            .form-group.col-6
                                label(for="") <a style = "color:blue;">เปอร์เซ็นต์กำลังสูญเสีย</a>
                                input(type="text", id="Per_plossac_select",name='perplossac',  class="form-control" value='')
                        hr
                        .row
                        
                            .form-group.col-12          
                                <h6>MDB&emsp;&emsp;<span id='cbmdbo'></span></h6> 
                                <p style = "color:blue;">แรงดันตกไม่ควรเกิน 2%, กำลังสูญเสียไม่ควรเกิน 3%</p>  
                        .row
                            .form-group.col-12
                                label(for="") ชนิดสายไฟจาก AC Solar ไป MDB
                                        
                                select(id='wiremdb', name='type_wmdb' ,type="text", class="form-control")
                                    option(value='' selected) *
                                    option(value='ไม่มีตู้ AC Solar') ไม่มีตู้ AC Solar
                                    option(value='สายไฟหุ้มฉนวน PVC (1 แกน)' ) สายไฟหุ้มฉนวน PVC (1 แกน)
                                    option(value='สายไฟหุ้มฉนวน PVC (หลายแกน)' ) สายไฟหุ้มฉนวน PVC (หลายแกน)
                                    option(value='สายไฟหุ้มฉนวน XLPE (1 แกน)' ) สายไฟหุ้มฉนวน XLPE (1 แกน)
                                    option(value='สายไฟหุ้มฉนวน XLPE (หลายแกน)' ) สายไฟหุ้มฉนวน XLPE (หลายแกน)
                            .form-group.col-9
                                label(for="") วิธีเดินสาย AC Solar ไป MDB
                                select(id='metacsolar', name='how_wacsolar' ,type="text", class="form-control")
                                    option(value='-' selected) *
                                    option(value='ท่อร้อยสาย' ) ท่อร้อยสาย 
                                    option(value='Wireway' ) Wireway     
                                    
                            .form-group.col-3
                                label(for="") ระยะ (m)
                                input(type="text", id="acsolar_Mdb", name='distance_acsolar', class="form-control", placeholder="*", value= '' )
                        .row
                            .form-group.col-6
                                label(for="") เซอร์กิตเบรกเกอร์ (AC)
                                input(type="text",id='cb_mdb',name='cb_mdb', class="form-control", placeholder="*", value= ''  )
                                    
                            .form-group.col-6
                                label(for="") สายไฟใหญ่กว่า
                                input(type="text", id="wire_mdb", class="form-control" value='')
                            
                                
                            .form-group.col-6
                                label(for="") เลือกขนาดสายไฟ
                                select(id='wire_mdb_select',name='wiremdb', class="form-control" )
                                    option(value=0 selected) *
                                    option(value=2.5) 2.5
                                    option(value=4) 4
                                    option(value=6) 6
                                    option(value=10) 10
                                    option(value=16) 16
                                    option(value=25) 25
                                    option(value=35) 35
                                    option(value=50) 50
                                    option(value=70) 70
                                    option(value=95) 95
                                    option(value=120) 120
                                    option(value=150) 150
                                    option(value=185) 185
                                    option(value=240) 240
                                    option(value=300) 300
                                    option(value=400) 400
                                    option(value=500) 500
                            .form-group.col-6
                                label(for="") สายดิน (sq.mm.)
                                input(type="text", id="ground_mdb",name='ground_mdb', class="form-control" value='') 
                        .row
                            .form-group.col-6
                                label(for="") แรงดันตกในสายไฟ
                                input(type="text", id="Vdrop_mdb_select",name='vdropmdb', class="form-control" value='')
                            .form-group.col-6
                                label(for="") <a style = "color:blue;">เปอร์เซ็นต์แรงดันตก</a>
                                input(type="text", id="Per_vdropmdb_select",name='pervdropmdb', class="form-control" value='')
                        .row    
                            .form-group.col-6
                                label(for="") กำลังสูญเสีย
                                input(type="text", id="Ploss_mdb_select",name='plossmdb', class="form-control" value='')
                            .form-group.col-6
                                label(for="") <a style = "color:blue;">เปอร์เซ็นต์กำลังสูญเสีย</a>
                                input(type="text", id="Per_plossmdb_select",name='perplossmdb', class="form-control" value='')
                
                        <hr>
                        
                        .row      
                            .form-group.col-12
                                <a href='#/infos' class='btn btn-secondary'  onclick="process1()">สรุปผล</a>     
                        br
                        .row
                            .form-group.col-12
                                label(for="") กำลังสูงสุดของด้านดีซี (W)
                                input(type="text", id="Pmax_dc",name='Pmax_dc', class="form-control" value='')
                            .form-group.col-12
                                label(for="") ประมาณการลงทุน (บาท)
                                input(type="text", id="invest10",name='invest10', class="form-control" value='')
                            .form-group.col-12
                                label(for="") ปริมาณไฟฟ้าที่ผลิตได้ (หน่วย/ปี)
                                input(type="text", id="energy10",name='energy10', class="form-control" value='')
                            .form-group.col-12
                                label(for="") รายได้ (บาท/ปี)
                                input(type="text", id="income10",name='income10', class="form-control" value='')
                            .form-group.col-6
                                label(for="") ระยะเวลาคุ้มทุน (ปี)
                                input(type="text", id="year10",name='year10', class="form-control" value='')
                            .form-group.col-6
                                label(for="") (เดือน)
                                input(type="text", id="month10",name='month10', class="form-control" value='')
                            
                                
                        br         
                   
        .form-group.col-12                    
            button(type="reset" form="bigform" onclick='reset1()').btn.btn-block.btn-warning RESET                
        .form-group.col-12
            button(type="submit" form="bigform").btn.btn-block.btn-info ADD     
    hr    
    div.container
            
        br
        h2 Information
        br
        div.row
            each info in infos3
                div.col-6.col-md-4
                    h4.text-primary=info.project
                    
                    
                    p='รายละเอียดอื่นๆ : '+info.des
                    
                        
                    div
                        ul.list-inline
                            li.list-inline-item
                                a(href="/prints3").btn.btn-primary PRINTS
                            li.list-inline-item
                                form(action="/infos3/delete/"+ info._id, method='post')
                                    button(type='submit').btn.btn-danger DEL                          
                
                    hr

    

    //-script.
            function test(){
                var phase = document.getElementById('phase')
                var meter = document.getElementById('Meter')

                //- meter[meter.options.selectedIndex].selected = false

                meter.innerHTML = ""

                if(phase.value == 1) {
                    var option = document.createElement("option")
                    option.text = "-"
                    option.value = 0
                    meter.add(option)

                    var option1 = document.createElement("option")
                    option1.text = "5(15), 1 เฟส"
                    option1.value = 15
                    meter.add(option1)

                    var option2 = document.createElement("option")
                    option2.text = "15(45), 1 เฟส"
                    option2.value = 45
                    meter.add(option2)

                    var option3 = document.createElement("option")
                    option3.text = "30(100), 1 เฟส"
                    option3.value = 100
                    meter.add(option3)
                } else if(phase.value == 3) {
                    var option = document.createElement("option")
                    option.text = "-"
                    option.value = 0
                    meter.add(option)

                    var option1 = document.createElement("option")
                    option1.text = "15(45), 3 เฟส"
                    option1.value = 135
                    meter.add(option1)

                    var option2 = document.createElement("option")
                    option2.text = "30(100), 3 เฟส"
                    option2.value = 300
                    meter.add(option2)
                }
            }
    script.
        
        function Strings(){

          
                document.getElementById("pv_stbest").innerHTML = commaSeparateNumber(Pv_stringgood)
                document.getElementById("pv_stlow").innerHTML = commaSeparateNumber(Pv_stringmin)
                document.getElementById("pv_stheight").innerHTML = commaSeparateNumber(Pv_string1)

                document.getElementById("numpvs").innerHTML = commaSeparateNumber(No_Pvs)
                document.getElementById("numinvs").innerHTML = Numberinv
                document.getElementById("maxin").innerHTML = datain3.Number_of_independent_MPP_inputs
                document.getElementById("maxst_in").innerHTML = String_array
                
                document.getElementById("cat").innerHTML = Max_strings
                document.getElementById("cat1").innerHTML = Min_strings
                document.getElementById("rat").innerHTML = Pv_string1
                document.getElementById("rat1").innerHTML = Pv_stringmin
                document.getElementById("dog").innerHTML = commaSeparateNumber(Max_strings*Pv_string1)
                document.getElementById("dog1").innerHTML = commaSeparateNumber(Min_strings*(Pv_stringmin))
                document.getElementById("stringnmax").innerHTML = commaSeparateNumber(stringnmax)
                document.getElementById("pvstringnmax").innerHTML = Pv_stringgood
                document.getElementById("good").innerHTML = commaSeparateNumber(pv_suggestmin1)+" - "+commaSeparateNumber(pv_suggestmax1) + " (แผง)"
        }
    
   
    script.
        function reset1(){
                            document.getElementById("demo").innerHTML = ""
                            document.getElementById("demo1").innerHTML = ""

                            document.getElementById("numpvs").innerHTML = ""
                            document.getElementById("maxin").innerHTML = ""
                            document.getElementById("maxst_in").innerHTML = ""
                            document.getElementById("numinvs").innerHTML = ""
                            document.getElementById("cat").innerHTML = ""
                            document.getElementById("cat1").innerHTML = ""
                            document.getElementById("dog").innerHTML = ""
                            document.getElementById("dog1").innerHTML = ""
                            document.getElementById("rat").innerHTML = ""
                            document.getElementById("rat1").innerHTML = ""
                            document.getElementById("good").innerHTML = ""

                            document.getElementById("fuse0").innerHTML = ""
                            document.getElementById("cbdco").innerHTML = ""
                            document.getElementById("cbaco").innerHTML = ""
                            document.getElementById("cbmdbo").innerHTML = ""

        }

    script.
        var invsPacs = [];
        var inverterss = document.getElementById('inverters').value;
        var inverters = JSON.parse(inverterss);
            for(var i = 0;i<=inverters.length;i++){
                invsPacs.push(inverters[i].Pinv_ac);
            }    
            function range1(invsPac) {
                return invsPac >= Pinv_ac_min && invsPac <= Pinv_ac_max;
                }
            function range2(invsPac) {
                return invsPac >= Pinv_ac_min/2 && invsPac <= Pinv_ac_max/2;
                } 
            function range3(invsPac) {
                return invsPac >= Pinv_ac_min/3 && invsPac <= Pinv_ac_max/3;
                }
            function range4(invsPac) {
                return invsPac >= Pinv_ac_min/4 && invsPac <= Pinv_ac_max/4;
                }
            function range5(invsPac) {
                return invsPac >= Pinv_ac_min/5 && invsPac <= Pinv_ac_max/5;
                }
            function range6(invsPac) {
                return invsPac >= Pinv_ac_min/6 && invsPac <= Pinv_ac_max/6;
                }
            function range7(invsPac) {
                return invsPac >= Pinv_ac_min/7 && invsPac <= Pinv_ac_max/7;
                }
            function range8(invsPac) {
                return invsPac >= Pinv_ac_min/8 && invsPac <= Pinv_ac_max/8;
                }
            function range9(invsPac) {
                return invsPac >= Pinv_ac_min/9 && invsPac <= Pinv_ac_max/9;
                }
            function range10(invsPac) {
                return invsPac >= Pinv_ac_min/10 && invsPac <= Pinv_ac_max/10;
                }
            function range11(invsPac) {
                return invsPac >= Pinv_ac_min/11 && invsPac <= Pinv_ac_max/11;
                }
            function range12(invsPac) {
                return invsPac >= Pinv_ac_min/12 && invsPac <= Pinv_ac_max/12;
                }
            function range13(invsPac) {
                return invsPac >= Pinv_ac_min/13 && invsPac <= Pinv_ac_max/13;
                }
            function range14(invsPac) {
                return invsPac >= Pinv_ac_min/14 && invsPac <= Pinv_ac_max/14;
                }
            function range15(invsPac) {
                return invsPac >= Pinv_ac_min/15 && invsPac <= Pinv_ac_max/15;
                }
            function range16(invsPac) {
                return invsPac >= Pinv_ac_min/16 && invsPac <= Pinv_ac_max/16;
                }
            function range17(invsPac) {
                return invsPac >= Pinv_ac_min/17 && invsPac <= Pinv_ac_max/17;
                }
            function range18(invsPac) {
                return invsPac >= Pinv_ac_min/18 && invsPac <= Pinv_ac_max/18;
                }
            function range19(invsPac) {
                return invsPac >= Pinv_ac_min/19 && invsPac <= Pinv_ac_max/19;
                }
            function range20(invsPac) {
                return invsPac >= Pinv_ac_min/20 && invsPac <= Pinv_ac_max/20;
                }
            function range21(invsPac) {
                return invsPac >= Pinv_ac_min/21 && invsPac <= Pinv_ac_max/21;
                }
            function range22(invsPac) {
                return invsPac >= Pinv_ac_min/22 && invsPac <= Pinv_ac_max/22;
                }
            function invertercheck2() {
                    if(Tem_max2 <= 30){document.getElementById("condition").innerHTML ='*Ppv/Pinv_dc ห้ามเกิน 1.25'}
                    else if(Tem_max2 >30 && Tem_max2 <= 50){document.getElementById("condition").innerHTML ='*Ppv/Pinv_dc ห้ามเกิน 1.1'}
                    else if(Tem_max2 >50){document.getElementById("condition").innerHTML ='*Ppv/Pinv_dc ห้ามเกิน 0.8'}
                    var invfils1=Math.min(...Object.values(invsPacs.filter(range1)))
                    var invfils2=Math.min(...Object.values(invsPacs.filter(range2)))
                    var invfils3=Math.min(...Object.values(invsPacs.filter(range3)))
                    var invfils4=Math.min(...Object.values(invsPacs.filter(range4)))
                    var invfils5=Math.min(...Object.values(invsPacs.filter(range5)))
                    var invfils6=Math.min(...Object.values(invsPacs.filter(range6)))
                    var invfils7=Math.min(...Object.values(invsPacs.filter(range7)))
                    var invfils8=Math.min(...Object.values(invsPacs.filter(range8)))
                    var invfils9=Math.min(...Object.values(invsPacs.filter(range9)))
                    var invfils10=Math.min(...Object.values(invsPacs.filter(range10)))
                    var invfils11=Math.min(...Object.values(invsPacs.filter(range11)))
                    var invfils12=Math.min(...Object.values(invsPacs.filter(range12)))
                    var invfils13=Math.min(...Object.values(invsPacs.filter(range13)))
                    var invfils14=Math.min(...Object.values(invsPacs.filter(range14)))
                    var invfils15=Math.min(...Object.values(invsPacs.filter(range15)))
                    var invfils16=Math.min(...Object.values(invsPacs.filter(range16)))
                    var invfils17=Math.min(...Object.values(invsPacs.filter(range17)))
                    var invfils18=Math.min(...Object.values(invsPacs.filter(range18)))
                    var invfils19=Math.min(...Object.values(invsPacs.filter(range19)))
                    var invfils20=Math.min(...Object.values(invsPacs.filter(range20)))
                    var invfils21=Math.min(...Object.values(invsPacs.filter(range21)))
                    var invfils22=Math.min(...Object.values(invsPacs.filter(range22)))
                    
                    if(invfils1 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils1)
                        document.getElementById("demo1").innerHTML = 1}
                    else if(invfils1 == Infinity && invfils2 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils2)
                        document.getElementById("demo1").innerHTML = 2}
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils3)
                        document.getElementById("demo1").innerHTML = 3}
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils4)
                        document.getElementById("demo1").innerHTML = 4}
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 == Infinity && invfils5 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils5)
                        document.getElementById("demo1").innerHTML = 5}  
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 == Infinity && invfils5 == Infinity && invfils6 != Infinity ){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils6)
                        document.getElementById("demo1").innerHTML = 6}  
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 == Infinity && invfils5 == Infinity && invfils6 == Infinity && invfils7 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils7)
                        document.getElementById("demo1").innerHTML = 7}  
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 == Infinity && invfils5 == Infinity && invfils6 == Infinity && invfils7 == Infinity && invfils8 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils8)
                        document.getElementById("demo1").innerHTML = 8}
                    else if(invfils1 == Infinity && invfils2 == Infinity && invfils3 == Infinity && invfils4 == Infinity && invfils5 == Infinity && invfils6 == Infinity && invfils7 == Infinity && invfils8 == Infinity && invfils9 != Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils9)
                        document.getElementById("demo1").innerHTML = 9}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils10)
                        document.getElementById("demo1").innerHTML = 10}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils11)
                        document.getElementById("demo1").innerHTML = 11}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils12)
                        document.getElementById("demo1").innerHTML = 12}    
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils13)
                        document.getElementById("demo1").innerHTML = 13}     
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils14)
                        document.getElementById("demo1").innerHTML = 14} 
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils15)
                        document.getElementById("demo1").innerHTML = 15}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils16)
                        document.getElementById("demo1").innerHTML = 16}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils17)
                        document.getElementById("demo1").innerHTML = 17}     
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17==Infinity&&invfils18!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils18)
                        document.getElementById("demo1").innerHTML = 18}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17==Infinity&&invfils18==Infinity&&invfils19!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils19)
                        document.getElementById("demo1").innerHTML = 19}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17==Infinity&&invfils18==Infinity&&invfils19==Infinity&&invfils20!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils20)
                        document.getElementById("demo1").innerHTML = 20}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17==Infinity&&invfils18==Infinity&&invfils19==Infinity&&invfils20==Infinity&&invfils21!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils21)
                        document.getElementById("demo1").innerHTML = 21}
                    else if(invfils1==Infinity&&invfils2==Infinity&&invfils3==Infinity&&invfils4==Infinity&&invfils5==Infinity&&invfils6==Infinity&&invfils7==Infinity&&invfils8==Infinity&&invfils9==Infinity&&invfils10==Infinity&&invfils11==Infinity&&invfils12==Infinity&&invfils13==Infinity&&invfils14==Infinity&&invfils15==Infinity&&invfils16==Infinity&&invfils17==Infinity&&invfils18==Infinity&&invfils19==Infinity&&invfils20==Infinity&&invfils21==Infinity&&invfils22!=Infinity){
                        document.getElementById("demo").innerHTML = commaSeparateNumber(invfils22)
                        document.getElementById("demo1").innerHTML = 22}
                    else{
                        document.getElementById("demo").innerHTML = '-'
                        document.getElementById("demo1").innerHTML = '-'
                    }
            }            

                    
                
                   
                        
                    
        
        
        
        
          
            
        
          
            
            
            

    
                                    
                                    
                                
                                    
                                
                                    
                            
                            
                                
            
                        
                                
                            


