extends layout3


block content

    <!-- NAVIGATOR -->
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container
            a(herf= "#").navbar-brand
            button(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler 
                span.navbar-toggler-icon

            div(id="navbarNavAltMarkup").collapse.navbar-collapse
                .navbar-nav
                    a(href="/infos").nav-item.nav-link.text-uppercase ข้อมูลการติดตั้ง
                    a(href="/infos3").nav-item.nav-link.text-uppercase ข้อมูลการติดตั้ง 3 เฟส
                    
                    a(href="/pvs").nav-item.nav-link.text-uppercase PV MODULES
                    a(href="/inverters").nav-item.nav-link.text-uppercase INVERTERS
                    a(href="/inverters3").nav-item.nav-link.text-uppercase.active INVERTERS 3 Phase
                    a(href="/loads").nav-item.nav-link.text-uppercase LOAD PROFILE

    .container
        .row
            .col-12.col-sm-6
                br
                h2=(inverter3 ? 'EDIT INVERTER' : 'ADD INVERTER')
                br
                form(action=(inverter3 ? "/inverters3/edit/" + inverter3._id : '/inverters3/add'), method="post")
                    .row
                        .form-group.col-6
                            label(for="") Manufacturer
                            input(type="text", name="Manufacturer", class="form-control"  placeholder="(ไม่ต้องกรอกก็ได้)" value=(inverter3 ? inverter3.Manufacturer : ''))
                        .form-group.col-6
                            label(for="") Inverter
                            input(type="text", name="Inverter", class="form-control"  value=(inverter3 ? inverter3.Inverter : ''))
                    .row
                        .form-group.col-6
                            label(for="") Max. DC power (Pinv_dc)
                            input(type="text", name="Pinv_dc", class="form-control" placeholder="W" value=(inverter3 ? inverter3.Pinv_dc : ''))
                            
                        .form-group.col-6
                            label(for="") Rated input voltage (Vrated_dc)
                            input(type="text", name="Vrated_dc", class="form-control" placeholder="V" value=(inverter3 ? inverter3.Vrated_dc : ''))
                    .row
                        .form-group.col-6
                            label(for="") MPP Voltage range min
                            input(type="text", name="MPP_Voltage_range_min", class="form-control" placeholder="V" value=(inverter3 ? inverter3.MPP_Voltage_range_min : ''))
                        .form-group.col-6
                            label(for="") MPP Voltage range max
                            input(type="text", name="MPP_Voltage_range_max", class="form-control" placeholder="V" value=(inverter3 ? inverter3.MPP_Voltage_range_max : ''))
                 
                    .row        
                        .form-group.col-6
                            label(for="") Max. MPPT current
                            input(type="text", name="Iinv_dcmax", class="form-control" placeholder="A" value=(inverter3 ? inverter3.Iinv_dcmax : ''))
                   
                        .form-group.col-6
                            label(for="") Number of MPPTs
                            input(type="text", name="Number_of_independent_MPP_inputs", class="form-control"  value=(inverter3 ? inverter3.Number_of_independent_MPP_inputs : ''))
                    .row    
                        
                    
                        .form-group.col-6
                            label(for="") Rated power (Pinv_ac)
                            input(type="text", name="Pinv_ac", class="form-control" placeholder="W" value=(inverter3 ? inverter3.Pinv_ac : '')) 
                    
                        .form-group.col-6
                            label(for="") Max. output current (Iinv_acmax)
                            input(type="text", name="Iinv_acmax", class="form-control" placeholder="A" value=(inverter3 ? inverter3.Iinv_acmax : '')) 
                    
                         
                    .row    
                        .form-group.col-6
                            label(for="") Efficiency
                            input(type="text", name="Efficiency", class="form-control" placeholder="%" value=(inverter3 ? inverter3.Efficiency : ''))
                    
                        .form-group.col-6
                            label(for="") Price
                            input(type="text", name="Price", class="form-control" placeholder="(ไม่ต้องกรอกก็ได้)" value=(inverter3 ? inverter3.Price : '')) 
                    
                    br         
                    .row
                        .form-group.col-6
                            button(type="submit").btn.btn-block.btn-success= (inverter3 ? 'SAVE' : 'ADD')
                        .form-group.col-6
                            button(type="reset").btn.btn-block.btn-warning RESET
                    br

            if inverters3
                .col-12.col-sm-5.offset-sm-1
                    br
                    h2 SEARCH INVERTER
                    br
                    form(action= '/inverters3/search', method="post")
                        .row
                            .form-group.col-6
                                label(for="") Manufacturer
                                input(type="text", name="Manufacturer", class="form-control"  )
                            .form-group.col-6
                                label(for="") Inverter
                                input(type="text", name="Inverter", class="form-control" )
                            
                            .form-group.col-6
                                label(for="") Pinv_ac
                                input(type="text", name="Pinv_ac", class="form-control" placeholder="W")
                            .form-group.col-6
                                label(for="") Pinv_dc
                                input(type="text", name="Pinv_dc", class="form-control" placeholder="W")
                         
                        
                        br 
                        .row
                            .form-group.col-12
                                button(type="submit").btn.btn-block.btn-info SEARCH
                        br
                        br
                        p <b> By Kongphop  Charoenkit</b>
                        p <b> Email : kongphop.cha@gmail.com</b>   
                    
    if inverters3           
        hr
        div.container
            br
            h2 INVERTERS
            br
            div.row
                each inverter3 in inverters3
                    div.col-6.col-md-4
                        h4.text-primary=inverter3.Inverter
                        h4.text-secondary=inverter3.Manufacturer   
                        
                        p='Rated power (Pinv_ac) : '+inverter3.Pinv_ac +' ' + 'W'
                        p='Rated input voltage (Vrated_dc) : '+inverter3.Vrated_dc +' ' + 'V'
                          
                        div
                            ul.list-inline
                                li.list-inline-item
                                    a(href="/inverters3/edit/" + inverter3._id).btn.btn-primary EDIT
                                li.list-inline-item
                                    form(action="/inverters3/delete/"+ inverter3._id, method='post')
                                        button(type='submit').btn.btn-danger DEL                          
                    
                        hr